body{
text-align: center;
background-color: rgb(236, 127, 255);
}
#g{
height: 33px;
width: 93px;
text-align: center;
border-radius: 10px;
font-size: 20px;
}
#g:hover{
    background-color: beige;
}

#abc{
    height: 33px;
    width: 133px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    }
    
    #abc:hover{
        background-color: beige;
    }

    #sub{
        height: 33px;
        width: 133px;
        text-align: center;
        border-radius: 10px;
        font-size: 20px;
        }